<div class="footer">
  <div class="footer-links">
    <li class="nav-link"><%= link_to "About us", about_path %></li>
    <li class="nav-link"><%= link_to "Contact us", about_path %></li>
    <li class="nav-link"><%= link_to "FAQ", faq_path %></li>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer has been made with <i class="fas fa-heart"></i> by Sara & Maryan
  </div>
</div>
