<div id="bannerCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#bannerCarousel" data-slide-to="1"></li>
    <li data-target="#bannerCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @rentals.first.photo.key, crop: :fill %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @rentals[1].photo.key, crop: :fill %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @rentals[2].photo.key, crop: :fill %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
