body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.footer{
  border-top: solid 1px #4949492c;
}

.footer-links a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}


.footer-link a{
  text-decoration: none;
  color: rgb(255, 255, 255)05F;
  padding: 0 8px;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer-link a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a{
  color: rgb(126, 126, 126);
}
.contactlink {
  text-decoration: none;
  color: #444444;
}

.contactlink:hover{
  color: rgb(146, 146, 146);

}

p {
  margin-bottom: 5px;
}
