.navbar {
  height: 100px;
  justify-content: space-between !important;
  border-bottom: solid 1px #4949492c;
  border-top: solid 1px #4949492c;
  // position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  padding-left: 140px;
  padding-right: 140px;
}

.navbar-logo{
  height: 100px;
}

.nav-link a{
  text-decoration: none;
  color: #63605F;
  padding: 0 8px;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-link a:hover{
  text-decoration: none;
  color: black;
}

.navbar-nav{
  justify-content: space-between;
}

.nav-logo{
  justify-content: center;
}

.navbar-brand {
  position: relative;
  width: 170px;
  left: 15px;
  background-size: contain;
}
