h1{
  font-family: 'Bebas Neue', cursive;
  color: $mark;
}

.page-title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.index-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards {
  flex-grow: 1;
}
