.card-btn{
  text-align: center;
}

.cardbanner {
  display: table;
  text-align: center;
  height: 196px;
  color: white;
  vertical-align: middle;
  background-size: cover;
  flex-shrink: 0;
  span {
    display: table-cell;
    font-size: 150%;
    vertical-align: top;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 2px 20px #000000;
  }
}

.card-body{
  text-align: center;
}

.page-title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
